.section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: var(--font-lg);
  font-weight: var(--weight-bold);
  /* border-bottom: 2px solid var(--font-base-color); */
  padding: 2rem 4rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.description {
  font-size: var(--font-md);
  margin: 7px 0;
}

img {
  width: 350px;
  position: absolute;
  top: 12rem;
  left: -1rem;
}
