/* .section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: var(--font-lg);
  font-weight: var(--weight-bold);
  padding: 2rem 4rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.description {
  font-size: var(--font-md);
  margin: 7px 0;
}

.image {
  width: 350px;
  position: absolute;
  top: 15rem;
  left: -1rem;
}

.button button {
  font-family: "NeoDunggeunmoPro-Regular";
  background-color: var(--font-base-color);
  color: var(--background-color);
  padding: 0.9rem 2.5rem;
  border-radius: var(--size-border-radius);
  border: 2px solid var(--font-base-color);
  font-size: var(--font-md);
  opacity: 1;
}

.button button:hover {
  border: 2px solid var(--font-base-color);
  background-color: var(--background-color);
  color: var(--font-base-color-color);
  transform: none;
} */

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: var(--weight-bold);
  font-size: 6rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Binggrae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
