.section {
  position: relative;
  padding: 1.5rem 4rem;
}

.bookList {
  height: 35rem;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  bottom: -30px;
  right: 100px;
}
