.button {
  /* padding: 0.5rem 2.5rem; */
  /* padding: 0.5rem 1rem; */
  /* border-radius: var(--size-border-radius); */
  margin: 0.5rem;
  text-align: center;
  line-height: 20px;
  white-space: nowrap;
  color: var(--font-base-color);
  /* border: 3px solid var(--font-base-color); */
  font-size: var(--font-sm);
  transition: all var(--animation-duration) ease;
  font-weight: var(--weight-bold);
  font-family: "GmarketSansMedium";
}
/* 
.button:hover {
  background-color: var(--font-base-color);
  color: var(--background-color);
} */
