.button {
  font-size: var(--font-md);
  opacity: 0.5;
  transition: all var(--animation-duration) ease;
}

.button:hover {
  opacity: 1;
  transform: scale(115%);
  color: var(--color-light-blue);
}

.clicked {
  opacity: 1;
  transform: scale(115%);
  color: var(--color-light-blue);
}
