.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 500px;
  height: 550px;
  margin-top: 3rem;
  background-color: var(--background-color);
  border-radius: var(--size-border-radius);
}

.title {
  margin: 0;
  font-size: var(--font-lg);
  font-weight: var(--weight-bold);
  /* color: var(--color-light-blue); */
  margin-bottom: 1.5rem;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  height: 150px;
}

.label {
  font-size: 1.1rem;
  opacity: 0.8;
}

.input {
  border: none;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: var(--font-sm);
  padding: 0.7rem;
}

.inputText {
  padding: 0.7rem;
  height: 300px;
  resize: none;
  overflow: hidden;
  font-size: var(--font-sm);
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.submit {
  margin-top: 1rem;
  padding: 0.7rem 0;
  font-size: var(--font-sm);
  font-weight: var(--weight-semi-bold);
  color: var(--background-color);
  background-color: var(--color-light-blue);
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease;
}

.submit:hover {
  background-color: var(--color-blue);
}

.post {
  background-color: var(--color-blue);
  cursor: default;
}

.disabled {
  background-color: var(--color-border);
  cursor: default;
}

.disabled:hover {
  background-color: var(--color-border);
}
