.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 500px;
  height: 100%;
  margin-top: 3rem;
  background-color: var(--background-color);
  border-radius: var(--size-border-radius);
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
}

.inputBox {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  font-size: 1.1rem;
  opacity: 0.8;
}

.input {
  border: none;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: var(--font-sm);
  padding: 0.7rem;
  height: 100%;
}

.inputText {
  height: 120px;
  resize: none;
  font-size: var(--font-sm);
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.error {
  position: absolute;
  bottom: -15px;
}

.submit {
  margin-top: 1rem;
  padding: 0.7rem 0;
  font-size: var(--font-sm);
  font-weight: var(--weight-semi-bold);
  color: var(--background-color);
  background-color: var(--color-light-blue);
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease;
}

.submit:hover {
  background-color: var(--color-blue);
}

.post {
  background-color: var(--color-blue);
  cursor: default;
}

.disabled {
  background-color: var(--color-border);
  cursor: default;
}

.disabled:hover {
  background-color: var(--color-border);
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .form {
    padding: 0rem 4rem;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .label {
    opacity: 1;
    font-size: var(--font-md);
  }

  .error {
    font-size: 1rem;
  }

  .input,
  .inputText {
    font-size: var(--font-md);
  }

  .checkbox {
    margin-top: 0px;
  }

  .submit {
    margin-top: 0.5rem;
  }

  .checkbox button {
    font-size: 1.1rem;
  }

  @media all and (max-height: 800px) {
    .form {
      margin-top: 2rem;
    }
  }
}
