.section {
  display: flex;
}

.libList {
  position: relative;
  padding: 0.5rem 1rem;
  padding-right: 1.5rem;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: scroll;
  height: 400px;
}

.mapContainer {
  flex: 1;
}

.libList button {
  font-size: 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.reset {
  position: fixed;
  top: 34.5px;
  left: 120px;
}

.reset button {
  font-size: 1.1rem;
}

.libList::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

.libList::-webkit-scrollbar-track {
  background: transparent;
}

.libList::-webkit-scrollbar-thumb {
  background-color: #445d48;
  background-color: var(--background-color);
  border-radius: 10px;
}

.fail {
  font-size: var(--font-tg);
  font-weight: var(--weight-bold);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
