/* .section {
  display: flex;
}

.libList {
  position: relative;
  padding: 0.5rem 1.5rem;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;
  height: 400px;
  margin-right: 20px;
}

.reset {
  position: fixed;

  top: 27.5px;
  left: 120px;
}

.libList::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

.libList::-webkit-scrollbar-track {
  background: transparent;
}

.libList::-webkit-scrollbar-thumb {
  background-color: #445d48;
  background-color: var(--background-color);
  border-radius: 10px;
}

.fail {
  font-size: var(--font-tg);
  font-weight: var(--weight-bold);
  text-align: center;
  margin: auto;
  padding-bottom: 60px;
} */
