.openButton {
  font-family: "GmarketSansMedium";
  opacity: 0.7;
  transform: translateY(-8%);
  transition: all var(--animation-duration) ease-out;
}

.openButton:hover {
  color: var(--color-light-blue);
  /* transform: scale(115%); */
  opacity: 1;
}
