/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-ornage: #feb546;
  --color-black: #000000;

  /* Font Size */
  --font-xl: 3rem;
  --font-lg: 2.5rem;
  --font-tg: 2rem;
  --font-md: 1.3rem;
  --font-sm: 1rem;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 10px;

  /* Animation */
  --animation-duration: 300ms;

  /* System Color */
  --font-base-color: #445d48;
  --background-color: #ebe4d1;
  --screen-color: #454545;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #445d48 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  /* background: #ffffff; */
}

*::-webkit-scrollbar-thumb {
  background-color: #445d48;
  border-radius: 10px;
  /* border: 3px solid #ffffff; */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  padding: 2.5rem 4rem;
  padding-top: 1.5rem;
  background-color: var(--screen-color);
}

body {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  margin: 0;
  cursor: default;
  font-family: "NeoDunggeunmoPro-Regular";
  color: var(--font-base-color);
  background-color: var(--background-color);
  border: 5px solid var(--font-base-color);
  border-radius: var(--size-border-radius);
}

a {
  text-decoration: none;
  color: var(--font-base-color);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  font-family: "NeoDunggeunmoPro-Regular";
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
